<%= setup_context :title => I18n.t("plugins.next_resource.title") %>

<div class="row">
  <div class="col-md-8">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8" style="padding-bottom: 10px;">
    <h2><%= I18n.t("plugins.next_resource.title") %></h2>
      <%= form_tag({:controller => :next_resource, :action => :new}, {:class => "form-horizontal", :method => "POST"}) do |form| %>
        <div class="col-md-8 form-group required">
          <label class="control-label">Collecting area:</label>
          <select name="area" class="form-control">
            <option value="B"><%= I18n.t("plugins.next_resource.area.b") %></option>
            <option value="D"><%= I18n.t("plugins.next_resource.area.d") %></option>
            <option value="M"><%= I18n.t("plugins.next_resource.area.m") %></option>
            <option value="P"><%= I18n.t("plugins.next_resource.area.p") %></option>
            <option value="U"><%= I18n.t("plugins.next_resource.area.u") %></option>
          </select>
          <button class="btn btn-primary"><%= I18n.t("plugins.next_resource.actions.submit") %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
