<div class="row-fluid">
  <div class="span12">
    <div class="record-pane">
	  <div class="row-fluid">
	    <div class="span8">
		  <h2><%= I18n.t("plugins.next_resource.title") %></h2>

		  <%= render_aspace_partial :partial => "shared/flash_messages" %>

          <%= form_tag({:controller => :next_resource, :action => :resolve}, {:id => "resolve_next_resource", :class => "form-search", :method => "GET"}) do |form| %>

		    <div class="control-group required">
			  <label class="control-label" for="resolve-next-resource"><%= I18n.t("plugins.next_resource.search.label") %></label>
			  <div class="controls">
			    <select name="range" class="next-resource-range" id="next-resource-range">
				  <option value="B"><%= I18n.t("plugins.next_resource.range.b") %></option>
				  <option value="D"><%= I18n.t("plugins.next_resource.range.d") %></option>
				  <option value="M"><%= I18n.t("plugins.next_resource.range.m") %></option>
				  <option value="U"><%= I18n.t("plugins.next_resource.range.u") %></option>
				</select>
			  </div>
			</div>

			<div class="control-group">
			  <button type="submit" id="resolve-next-resource-button" class="btn btn-primary">
			    <%= image_tag "archivesspace/btn-busy.gif", :class => "btn-busy-icon" %>
				<%= I18n.t("plugins.next_resource.actions.resolve") %>
			  </button>
			</div>
		  
		  <% end %>

		  <div id="results"></div>
		</div>
      </div>
	</div>
  </div>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/next_resource.js" %>"></script>
<link href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/next_resource.css" %>" media="all" rel="stylesheet" type="text/css"></link>

<div id="next_collection_results"><!--
	<div class="next-collection-result">
		<p>The next collection in the range is ${range}${max_range}</p>
	</div>
-->
</div>
